/* Responsiveness */
@media(max-width:600px){
    header{
        flex-direction: column;
        text-align:center;
    }

    section table tr td{
        display:block;
        width:100%;
        margin-bottom: 1rem;        
    }

    section table tr td hr {
        width:80%;
        margin: 0.5 rem auto;
    }
}